a{
  text-decoration: none;
}
body{
  margin-top: 0;
  text-align: center;
  /*font-family: "Montserrat-Black";*/
  font-family: proxima-nova,helvetica neue,Helvetica,Roboto,Arial,sans-serif;
  background-color:white;
}
.bottom-container{
  height: 100px;
  padding: 0 0 2% 0;
  text-align: center;
}
.content{
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}
.container{
  margin: 0 auto;
  max-width: 90rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-fluid{
  padding: 1% 15% 2%;
}
.contact-container{
  margin: 2% 10% 0;
  text-align: center;
}
.contact-link{
  margin: 0px 20px;
  color: black;
}
.copyright{
  color: #161616;
  font-size: 0.85 rem;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 0;
}
.createdOn{
  width: 30%;
  margin: 10px auto;
  color: gray;
  font-size: 75%;
}
.middle-container{
  margin: 4% auto 2%;
}
.nameHeader{
  font-size: 3em;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
  position: relative;
}
/* Navighation Bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-size: 1.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 1.1rem;
}
p{
  color: black;
  line-height: 1.5;
}
.profilePic{
  height: 15rem;
  width: 15rem;
  border-radius:50%;
  border-style: solid;
  position: relative;
}

.short-bio{
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.5em;
  font-weight: 100%;
}
#title{
  background-color: white;
  color: black;
}
.top-container{
  position: relative;
  padding: 3.5% 5% 7.5%;
  /*padding-top: 40px;*/
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
@media (max-width: 500px) { /*phone */
  .bottom-container{
    padding: 5% 0 2% 0;
  }
  .copyright{
    color: #161616;
    font-size: 0.85 rem;
    margin-bottom: 0;
    margin-top: 0px;
    padding: 0;
  }
  .createdOn{
    width: 80%;
    margin: 10% auto;
    color: gray;
    font-size: 75%;
  }
  .container-fluid{
    padding: 1% 4% 2%;
  }
  .contact-container{
    margin: 12% 5% 7%;
  }
  .contact-link{
    margin: 10px 10px;
  }
  .hover-contact{
    font-size: 1.5em;;
  }
  .middle-container{
    margin: 3% 10px 2%;
  }
  .nameHeader{
    font-size: 2em;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
  }
  .navbar{
    padding: 0 0 1rem;
  }
  .occupation{
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .profilePic{
    height: 150px;
    width: 150px;
    border-radius:50%;
    border-style: solid;
    position: relative;
  }
  .short-bio{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 0.9em;
    font-weight: 100%;
  }
  #titles{
    text-align: center;
  }
  .top-container{
    padding: 8% 5% 2%;
  }
}

@media (max-width: 1050px) and (min-width: 500px){ /*tablets */
  .container-fluid{
    padding: 1% 12% 2%;
  }
  .contact-container{
    margin: 12% 5% 7%;
  }
  .createdOn{
    width: 70%;
    margin: 10px auto;
    color: gray;
    font-size: 75%;
  }
  .nameHeader{
    font-size: 3rem;;
  }
  .profilePic{
    margin: auto;
    height: 15rem;
    width: 15rem;
    border-radius:75%;
    border-style: solid;
    position: relative;
  }
  .middle-container{
    margin: 1% auto 5%;
  }
  .top-container{
    position: relative;
    margin: 12.5% 2.5% 12.5%;
  }
}

/* Hover color for font awesome*/
.hover-contact:hover{
  color: black;
}
@media (prefers-color-scheme: dark){
  /*body{
    background-color: black;
  }
  #title{
    background-color: black;
    color: white;
  }
  .nav-link{
    color: white;
  }
  .navbar-custom .navbar-toggler {
  	background-color:white;
  }
  .navbar-toggler-icon{
    background-color:black;
  }
  .git-dark{
    color: white;
  }
  .hover-contact:hover{
    color: yellow;
  }
  .top-container{
    color: aliceblue;
  }
*/
}

