body{
    font-family: proxima-nova,helvetica neue,Helvetica,Roboto,Arial,sans-serif;
}
.blog-links{
    text-decoration: none;
    color: black;
}
.blogs{
    margin-top: 2%;
}
.blog-card{
    margin: 3% 0 3%;
    padding: 0% 2%;
}
.blog-links:hover{
    color: grey;
}
.btn{
    width: 100%;
    margin-top: 5%;
    background-color: #fafafa;
}

.card {
    border-radius: 10px;
}

.card-img-top {
    border-radius: 10px;
}

.card-title {
    margin-top: 0%;
    text-align: center;
}

.card-subtitle {
    text-align: center;
}

.content {
    flex: 1;
    display: flex;
    margin-bottom: 3.2rem;
}
.container {
    margin: 0 auto;
    max-width: 90rem;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}
#content-body{

    margin: 0 auto;
    max-width: 90rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
#footer{
    text-align: center;
}
/* Navighation Bar */
#navigation{
    margin: 1% 15% 0;
    text-align: center;
}
.navbar{
    padding: 0 0 2.5rem;
}
.navbar-brand{
    font-size: 1.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 1.1rem;
}
section {
    display: block;
}
.title{
    margin-bottom: 2%;
    text-align: center;
    font-size: 3em;;
    font-weight: bold;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
@media (max-width: 500px) { 
    .blog-card{
        margin: 3% 0 3%;
        padding: 5% 15%;
    }

    #navigation{
        margin: 1% 4% 0;
    }
    .title{
        margin-bottom: 5%;
        text-align: center;
        font-size: 2em;;
    }
    .navbar{
        padding: 0 0 1rem;
    }
}

@media (min-width: 500px) and (max-width: 800px) { 
    .blog-card{
        margin: 3% 0 3%;
        /* padding: 5% 25%; */
        width: 50%;
    }

    #navigation{
        margin: 1% 4% 0;
    }
    .title{
        margin-bottom: 5%;
        text-align: center;
        font-size: 2em;;
    }
    .navbar{
        padding: 0 0 1rem;
    }
}
@media (min-width: 800px) and (max-width: 1050px) {
    #blog-body{
        margin: 2% 10% 0;
    }
    .blog-card{
        margin: 3% 0 3%;
        padding: 3% 2%;
    }

    #navigation{
        margin: 1% 12% 0;
    }
    .navbar{
        padding: 0 0 1.5rem;
    }
}