body{
  font-family: proxima-nova,helvetica neue,Helvetica,Roboto,Arial,sans-serif;
  text-align: justify;
}
p{
  text-align: justify;
}
li{
  text-align: justify;
}
.btn-dark{
  background-color: #43A6C6;
  margin-bottom: 5%;
}
.compImage-left{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  float: left;
  padding-right: 0;
  margin-right: 2%;
}
.contact-container{
  height: 100px;
  margin: 2% 10% 0;
  text-align: center;
}
.contact-link{
  
  margin: 0px 20px;
}
.display-quote{
  color: white;
  font-size: 4.5rem;
  font-weight: 750;
  text-align: center;
}
#footer{
  text-align: center;
}
hr{
  border: 2px dotted #43A6C6;
  border-bottom: none;
  text-align: center;
  margin: 0 25%;
}
.middle-container{
  padding-top: 50px;
  padding-bottom: 50px;
}
/* Navighation Bar */
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.navbar-brand{
  font-size: 1.5rem;
}
.nav-link{
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 1.1rem;
}
.occupation{
  font-size: 1.5em;
  font-weight: 600;
  color: black;
}
.profile-images{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 0 0;
}
.resume-button{
  padding-top: 25px;
  padding-bottom: 25px;
}
.skill-row{
  text-align: left;
  padding: 2.5% 2%;
}
.sub-quote{
  padding-top: 10px;
  color: #F5FFF5;
  font-size: 2.5rem;
  font-weight: 500;
}
#text-container{
  margin:3% 15% 1%;
}
#title{
  background-color: #43A6C6;
  text-align: center;
}
.work-image-left{
  height: 60px;
  width: 60px;
  float: left;
  border-radius: 50%;
  padding-right: 0;
  margin-right: 2%
}

@media (max-width: 500px) { /*For iPhone size*/
  .container-fluid{
    padding: 1% 4% 2%;
  }
  .contact-container{
    margin: 10% 5% 0;
  }
  .contact-link{
    margin: 10px 10px;
  }
  .compImage-left{
    height: 50px;
    width: 50px;
  }
  .display-quote{
    color: white;
    font-size: 2rem;
    /*font-family: "Montserrat-Bold";*/
    font-weight: 650;
    /*text-align: center;*/
  }
  h2{
    text-align: center;
    padding-bottom: 5%;
  }
  h3{
    font-size: 1.35rem;
  }
  h5{
    font-size: 1.1rem;
  }
  .navbar{
    padding: 0 0 2rem;
  }
  .navbar-brand{
    font-size: 1.1rem;
  }
  .sub-quote{
    padding-top: 10px;
    color: #F5FFF5;
    font-size: 1.45rem;
    /*font-family: "Montserrat-Bold";*/
    font-weight: 500;
    /*text-align: center;*/
  }
  #text-container{
    margin:15px 5% 15px;
  }
  .work-image-left{
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 1050px) and (min-width: 500px){ /*For tablets*/
  .container-fluid{
    padding: 1% 12% 2%;
  }
  .display-quote{
    color: white;
    font-size: 3rem;
    /*font-family: "Montserrat-Bold";*/
    font-weight: 650;
    /*text-align: left;*/
  }
  h2{
    text-align: center;
    padding-bottom: 3%;
  }
  .navbar{
    padding: 0 0 1.5rem;
  }
  .skill-row{
    /*text-align: left;*/
    padding: 2.5% 2%;
  }
  .sub-quote{
    padding-top: 10px;
    color: #F5FFF5;
    font-size: 1.5rem;
    /*font-family: "Montserrat-Bold";*/
    font-weight: 500;
    /*text-align: left;*/
  }
  #text-container{
    margin:20px 15% 20px;
  }
}
@media (min-width: 1000px) and (max-width:1050px){
  .navbar{
    padding: 0 0 3.5rem;
  }
}
@media (min-width: 1050px){ /* laptop and desktop*/
  .container-fluid{
    padding: 1% 15% 2%;
  }
  h2{
    text-align: center;
    padding-bottom: 3%;
  }
  #text-container{
    margin:3% 25% 1%;
  }
}


.hover-contact:hover{
  color: black;
}